    body {
        background-color: black;
        color: whitesmoke;
        font-family: 'Times New Roman';
        margin: 0px;    
    }
    header{
        background-color: blueviolet;
        color: aliceblue;
        padding: 10px;
        font-size: 16pt;
        font-style: italic;
    }
    footer {
        background-color: blueviolet;
        color: aliceblue;
        padding: 10px;
        font-size: 16pt;
        text-align: right;
    }