    body {
        background-color: lightblue;
        color: whitesmoke;
        font-family: 'Times New Roman';
        margin: 0px;    
    }

    header{
        background-image: linear-gradient(to right bottom, deepskyblue, brown);
        color: aliceblue;
        padding: 10px;
        font-size: 16pt;
        font-style: italic;
    }

    header:hover{
        color: blue;
        transition: 700ms;
        
    }

    header:active{
        font-size: 20pt;
        transition: 700ms;
    }

    main{
        margin: 10px 20px;
    }

    footer {
        background-image: linear-gradient(to right top, deepskyblue, brown);
        color: aliceblue;
        padding: 10px;
        font-size: 16pt;
        text-align: right;
        position: fixed;
        left: 0px;
        bottom: 0px;
        right: 0px;
    }

    footer:hover{
        color: blue;
        transition: 700ms;
        
    }

    footer:active{
        font-size: 20pt;
        transition: 700ms;
    }

    a{
        color: yellow; 
        text-decoration: none;
        transition: 1s;
    }

    a:visited {
        color: lightpink;
    }

    a:hover {
        background-color: whitesmoke;
        color: darkturquoise;
        text-decoration: underline;
        font-weight: bold;
        transition: 300ms;
    }

    a:active {
        color: darkmagenta;
        background-color: whitesmoke;
    }